In [11]:
import pandas as pd
import os,sys,inspect,pickle,json,time,datetime,re,random; root = os.path.dirname(os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe()))))
import utils
import matplotlib.pyplot as plt
%matplotlib inline
conf = json.load(open('config_zoo.json'))
#mtype = 'tf_lstm'
mtype = conf['models'].split(',')[0]
TARGET_ORIG = 'activity'
TARGET = TARGET_ORIG
DATA_DIR = 'activity-atactic'

In [18]:
#mtype = 'xgb_220_380_230_7-55_9-67'
mtype = 'xgb'

cols = {}
cols['lgb'] = ['score_train','score_val','target','fegroup','data','datasize','lambda_l2','lambda_l1','min_gain_to_split','rounds']
cols['xgb'] = ['score_train','score_val','score_test_pseudo','min_child_weight','lambda','alpha','target','fegroup','data','datasize','rounds']
cols['xgb_220_380_230_7-55_9-67'] = ['score_train','score_val','min_child_weight','lambda','alpha','target','fegroup','data','datasize','rounds']
cols['mynn'] = ['score_train','score_val','datasize']
cols['tf'] = ['score_train','score_val','target','datasize','bs']
cols['tf_lstm'] = ['score_train','score_val','batch_size','initial_learning_rate','decay_steps','target','datasize','data','fegroup','past_history','future_target','step','epochs']
cols['manual2'] = ['score_train','score_val','k1','k2','d2','b']
df = pd.read_csv('output/log_'+mtype+'.csv', index_col=0)[cols[mtype]]
good_subs = df[3:]#.sort_values(by=['score_val'])
good_subs.head(1)

,score_train,score_val,score_test_pseudo,min_child_weight,lambda,alpha,target,fegroup,data,datasize,rounds
y2019_11m_15d_20h_27min_33s_408665_,5.728033,12.448634,13.630873,220,380,230,activity,features_orig,v02_add55x5x3roll,med,150

In [14]:
filenames = ['y2019_11m_15d_20h_27min_33s_408665_',
'y2019_11m_15d_20h_31min_22s_179958_',
'y2019_11m_15d_20h_35min_20s_634518_',
'y2019_11m_15d_20h_39min_08s_437745_',
'y2019_11m_15d_20h_43min_04s_179919_',
'y2019_11m_15d_20h_45min_40s_288996_',
'y2019_11m_15d_20h_48min_50s_637708_',
'y2019_11m_15d_20h_52min_06s_806737_',
'y2019_11m_15d_20h_54min_53s_600166_',
'y2019_11m_15d_20h_58min_56s_550437_',
'y2019_11m_15d_21h_02min_50s_993482_']

submissions = []

for sub in filenames:
    fname = sub+'xgb_sub.csv'
    submissions.append(pd.read_csv('output/'+fname, index_col=0))
for i in range(1,len(submissions)):
    submissions[0][TARGET] += submissions[i][TARGET]
submissions[0][TARGET] /= len(submissions)
submissions[0].head()

curr_time = re.sub(r'^(.*)-(.*)-(.*) (.*):(.*):(.*)\.(.*)$',r'y\1_\2m_\3d_\4h_\5min_\6s_\7_',str(datetime.datetime.now()))
submissions[0].to_csv(os.path.join('output',curr_time+mtype+'_ensemble_01.csv'))

                      activity
date
2019-01-01 00:30:00  36.675037
2019-01-01 00:31:00  36.704678
2019-01-01 00:32:00  36.753694
2019-01-01 00:33:00  36.757778
2019-01-01 00:34:00  36.798084

                      activity
date
2019-01-01 00:30:00  69.252795
2019-01-01 00:31:00  69.505977
2019-01-01 00:32:00  69.674408
2019-01-01 00:33:00  69.568741
2019-01-01 00:34:00  69.869198